@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #f4f7fd;
  --text-color: #000112;
  --formTitle-color: #828fa3;
  --card-background: #ffffff;
  --lightPurpleBtn-background: #635fc71a;
  --lightPurpleBtn-hoverBg: #635fc740;
  --borderLine-color: #e4ebfa;
  --linearGradient-background: #e9effa;
  --boardDropDown-background: white;
}

.dark,
[data-theme="dark"] {
  --bg-color: #20212c;
  --text-color: #ffffff;
  --formTitle-color: #ffffff;
  --card-background: #2b2c37;
  --lightPurpleBtn-background: white;
  --lightPurpleBtn-hoverBg: white;
  --borderLine-color: #3e3f4e;
  --linearGradient-background: #2b2c37;
  --boardDropDown-background: #20212c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

p {
  line-height: 100%;
}

button,
a {
  cursor: pointer;
}

input,textarea, select {
  border: 1px solid #828fa340;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-inline: 16px;
  outline: 1px;
  outline: transparent;
  width: 100%;
  line-height: 23px;
  font-size: 13px;
  font-weight: 500;
}

input::placeholder, textarea::placeholder {
  color: var(--text-color);
  opacity: 0.25;
  font-weight: 500;
  line-height: 23px;
  font-size: 13px;
}

@layer components {
  .bodyBg {
    background-color: var(--bg-color);
  }

  .BgGradient {
    background: linear-gradient(
      var(--linearGradient-background),
      color-mix(in srgb, var(--linearGradient-background) 50%, transparent)
    );
  }

  .logo {
    fill: var(--text-color);
  }

  .borderLineColor {
    border-color: var(--borderLine-color);
  }

  .heading {
    @apply text-[18px] md:text-[20px] lg:text-[24px];
  }

  .formTitle {
    color: var(--formTitle-color);
    @apply text-[12px];
  }

  .focusOnInput {
    @apply focus:outline-[#635FC7];
  }

  .inputErrorMessage {
    @apply absolute top-1/2 -translate-y-1/2 right-4 font-medium text-[#EA5555] text-[13px];
  }

  .cardBgColor {
    background-color: var(--card-background);
  }

  .formBtn {
    @apply pt-2 pb-2.25 rounded-[20px] w-full text-[13px] leading-5.75 flex items-center justify-center;
  }

  .lightPurpleBtn {
    background-color: var(--lightPurpleBtn-background);
    @apply text-[#635FC7];
  }

  .lightPurpleBtn:hover {
    background-color: var(--lightPurpleBtn-hoverBg);
  }

  .purpleBtn {
    @apply bg-[#635FC7] text-[white] hover:bg-[#A8A4FF];
  }

  .redBtn {
    @apply bg-[#EA5555] text-[white] hover:bg-[#FF9898];
  }

  .formBg {
    @apply absolute top-0 left-0 w-screen h-screen max-h-screen overflow-scroll bg-[#000000]/50 flex items-center justify-center;
  }

  .formWindow {
    @apply w-[91.46%] max-w-120 pt-6 px-6 pb-8 md:p-8 rounded-md max-h-[80%] overflow-auto;
  }

  .boardDropDown {
    background-color: var(--boardDropDown-background);
    @apply drop-shadow-[0_10px_20px_0_rgba(54,78,126,0.25)] rounded-lg p-4 flex flex-col items-start gap-4 absolute z-99 top-14 right-3 md:top-19 md:right-6 xl:top-22.5 font-medium text-[13px] leading-5.75;
  }

  .sideBarHideBtnBgHover:hover{
    background-color: var(--lightPurpleBtn-background);
  }
}
